body {
    font-family: sans-serif;
    vertical-align: top;
}

button {
    width: 80px;
    color: black;
}

#myId {
    color: yellow;
}

.fontLarge{
    font-size: 14px;
}

h1, h2, p {
    text-align: right;